@tailwind base;
@tailwind components;
@tailwind utilities;

.nav a.active{
    color: #fb320f;
    border-bottom: 2px solid #fb320f;
}
.dashboard a.active{
    background-color: white;
}
.btn{
    border: 2px solid #fb320f;
    padding: 10px 24px;
    font-size: 15px;
    font-weight: 600;
    background:#fb320f;
    color: white;
    cursor: pointer;
    display: inline-block;
}
.btn:hover{
    background:#e53e21;
}

.swiper-button-prev,
.swiper-button-next {
   color: #fb320f !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
   color: #fb320f !important
}

.swiper-pagination-bullet {
   background-color: #fb320f !important;
}


.swiper-pagination-bullet-active {
   background-color: #fb320f !important;
}