@tailwind base;
@tailwind components;
@tailwind utilities;

.nav a.active{
    color: #fb320f;
    border-bottom: 2px solid #fb320f;
}
.dashboard a.active{
    background-color: white;
}
.btn{
    border: 2px solid #fb320f;
    padding: 10px 24px;
    font-size: 15px;
    font-weight: 600;
    background:#fb320f;
    color: white;
    border-radius:20px 20px 0 20px;
}
.btn:hover{
    background:#e53e21;
}
